.tarefa {
  background-color: #1f1f1f;
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.tarefa h1 {
  font-size: 20px;
}
.icons {
  display: flex;
  gap: 10px;
}

.icon {
  padding: 5px;
  border-radius: 10px;
  background-color: #242424;
}
.icon:hover {
  cursor: pointer;
}

.tarefa.terminado {
  text-decoration: line-through;
  opacity: 0.6;
}
